{% extends "partial/layout.html.twig" %}

{% block title %}{{ t("forgot_password_page_name", "Forgot Password") }}{% endblock %}
{% block description %}{{ t("forgot_password_meta_description", "Forgot account password") }}{% endblock %}
{% block keywords %}{{ t("forgot_password_meta_keywords", "forgot, password, account, image, picture, pic, img, hosting, sharing, upload, storage, site, website") }}{% endblock %}

{% block body %}

<div class="container ">
<div class="row">
                       
<!-- RECOVER FORM -->
    <section class="account-info-section">  
        <div class="container">
            <div class="account-info-box">
                <div class="account-info-section-text text-center">
            <h3 style="margin-bottom: 25px;">Password reset</h3>
                                    {% if msg_page_errors is defined %}
                    <div class="alert bg--error">
                        <div class="alert__body"><i class="fa fa-exclamation-triangle color--error"></i>&nbsp;&nbsp;{% if msg_page_errors is defined %}{{ msg_page_errors|join('. ') }}{% endif %}</div>
                    </div>
                    {% endif %}
                 <p>If a matching account was found an email was sent to allow you to reset your password. </p>
                </div>

  
            </div>
        </div>
    </section>    
 

    </div>
</div>

  
{% endblock %}